<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Visa Calculator</title>
  <link href="./assets/css/bootstrap.css" rel="stylesheet">
</head>

<body>
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <span class="brand">Visa Calculator</span>
      </div>
    </div>
  </div>

  <div id="main-region" class="container">
    <p> <h1> Visa Calculator </h1> </p>
  </div>

  <!--Vendor Includes-->
  <script src="./assets/js/vendor/jquery.js"></script>
  <script src="./assets/js/vendor/json2.js"></script>
  <script src="./assets/js/vendor/underscore.js"></script>
  <script src="./assets/js/vendor/backbone.js"></script>
  <script src="./assets/js/vendor/backbone.syphon.js"></script>
  <script src="./assets/js/vendor/backbone.localstorage.js"></script>
  <script src="./assets/js/vendor/backbone.marionette.js"></script>
  <script src="./assets/js/vendor/spin.js"></script>
  <script src="./assets/js/vendor/spin.jquery.js"></script>

  <!--Templates-->
  <script type="text/template" id="">
  </script>

  <script type="text/template" id="loading-view">
    <div id="spinner"></div>
  </script>

  <script type="text/template" id="visas-list-item">
    <td>
      <a href="#visas/<%= id %>" class="js-show">
        <%= name %>
      </a>
    </td>
    <td><%= startDate %></td>
    <td><%= endDate %></td>
    <td><%= type %></td>
    <td><%= daysLeft %></td>
    <td>
      <a href="#visas/<%= id %>" class="btn btn-small js-show">
        <i class="icon-eye-open"></i>
      </a>
      <button class="btn btn-small js-delete">
        <i class="icon-remove"></i>
      </button>
    </td>
  </script>

  <script type="text/template" id="visas-list">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Type</th>
          <th>Days Left</th>
          <th></th>
        </tr>
      </thead>
    <tbody> </tbody>
    </table>
    <div>
      <button class="btn btn-small js-delete-all">
        <i class="icon-remove"></i>
        Delete All Entries
      </button>
    </div>
  </script>


  <script type="text/template" id="visa-view">
    <h1><%= name %></h1>
    <p> <strong> Start Date: </strong> <%= startDate %> </p>
    <p> <strong> End Date: </strong> <%= endDate %> </p>
    <p> <strong> Days Left: </strong> <%= daysLeft %> </p>

    <a href="#visas/<%= id %>/edit" class="btn btn-small js-edit">
      <i class="icon-pencil"></i>
      Edit
    </a>
    <br>
    <br>
    <a href="#visas" class="js-list-visas">Back to My Visas</a>
  </script>

  <script type="text/template" id="missing-visa-view">
    <div class="alert alert-error">
      This visa does not exist
    </div>
    <a href="#visas" class="js-list-visas">Back to My Visas</a>
  </script>

  <script type="text/template" id="missing-visas-view">
    <div class="alert alert-error">
      You have no visas added
    </div>
    <a href="#visas/new" class="btn btn-primary js-new-visa">Create Visa</a>
  </script>

  <!-- Main app -->
  <script src="./assets/js/app.js"></script>
  <script src="./assets/js/apps/config/storage/localstorage.js"></script>
  <script src="./assets/js/common/views.js"></script>

  <!-- Entities -->
  <script src="./assets/js/entities/visa.js"></script>
  <script src="./assets/js/entities/visa_entry.js"></script>

  <!--Applications-->
  <!--Visas App-->
  <script src="./assets/js/apps/visas/visas_app.js"></script>
  <!--List-->
  <script src="./assets/js/apps/visas/list/list_controller.js"></script>
  <script src="./assets/js/apps/visas/list/list_view.js"></script>
  <!--Show-->
  <script src="./assets/js/apps/visas/show/show_controller.js"></script>
  <script src="./assets/js/apps/visas/show/show_view.js"></script>



  <script type="text/javascript">
    vc.start();
  </script>


</body>
</html>
