<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Визовый калькулятор</title>
  <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="./assets/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="./assets/css/datepicker.css" rel="stylesheet">
  <link href="./assets/css/application.css" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Визовый калькулятор</a>
      </div>
    </div>
  </nav>

  <div id="main-region" class="container">
    <p> <h1> Визовый калькулятор </h1> </p>
  </div>

  <!--Vendor Includes-->
  <script src="./assets/js/vendor/jquery.js"></script>
  <script src="./assets/js/vendor/json2.js"></script>
  <script src="./assets/js/vendor/bootstrap.min.js"></script>
  <script src="./assets/js/vendor/underscore.js"></script>
  <script src="./assets/js/vendor/backbone.js"></script>
  <script src="./assets/js/vendor/backbone.syphon.js"></script>
  <script src="./assets/js/vendor/bootstrap-datepicker.js"></script>
  <script src="./assets/js/vendor/backbone.localstorage.js"></script>
  <script src="./assets/js/vendor/backbone.marionette.js"></script>
  <script src="./assets/js/vendor/spin.js"></script>
  <script src="./assets/js/vendor/spin.jquery.js"></script>
  <script src="./assets/js/vendor/moment-with-langs.min.js"></script>

  <!--Templates-->
  <script type="text/template" id="">
  </script>

  <script type="text/template" id="loading-view">
    <div id="spinner"></div>
  </script>

  <script type="text/template" id="visas-list-item">
    <td>
      <a href="#visas/<%= id %>" class="js-show-visa">
        <%= name %>
      </a>
    </td>
    <td><%= startDate %></td>
    <td><%= endDate %></td>
    <td><%= daysTotal %></td>
    <td>
      <button class="btn btn-danger btn-xs js-delete">
        <i class="glyphicon glyphicon-remove"></i>
      </button>
    </td>
  </script>

  <script type="text/template" id="visas-list-layout">
    <div id="visas-region"></div>

    <div class="clearfix"></div>

    <div id="visa-entries-region">
      <!--
      <br>
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            Ваши визы
          </div>
        </div>
        </div>
        -->
    </div>
  </script>
  <script type="text/template" id="visa-entries-collection">
    <br>
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          Ваши въезды в Шенгенскую зону
        </div>
      </div>

      <table id="visa-entries-table" class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Название</th>
            <th>Дата въезда</th>
            <th>Дата выезда</th>
            <th>Количество дней</th>
          </tr>
        </thead>
        <tbody> </tbody>
      </table>

    </div>
  </script>

  <script type="text/template" id="visas-list">
    <div class="panel panel-default">
      <div class="panel-body">
        У вас осталось <strong><%= daysLeft %></strong> дней
        <br/>
        Вам разрешено находиться в Шенгенской зоне до <strong><%= dueDate %></strong>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          Ваши визы
        </div>
      </div>
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Название</th>
            <th>Начало действия</th>
            <th>Окончание действия</th>
            <th>Количество дней</th>
            <th></th>
          </tr>
        </thead>
        <tbody> </tbody>
      </table>
    </div>

    <div class="pull-left">
      <a href="#visas/new" class="btn btn-primary js-new-visa">Добавить визу</a>
    </div>

    <div class="pull-right">
      <button class="btn btn-danger js-delete-all">
        <i class="glyphicon glyphicon-remove"></i>
        Удалить все записи
      </button>
    </div>

  </script>

  <script type="text/template" id="visa-entry-form-new">
    <h1> Добавление въезда в Шенгенскую зону </h1>
    <form role="form">
      <div class="form-group">
        <label class="control-label" for="visa-entry-name" name="name"> Название: </label>
        <input id="visa-entry-name" name="name" type="text" value="<%= name %>" class="form-control"/>
      </div>

      <div class="form-group">
        <label class="control-label" for="visa-entry-startDate" name="startDate"> Дата въезда: </label>
        <input id="visa-entry-startDate" name="startDate" type="text" value="<%= startDate %>" class="form-control"/>
      </div>

      <div class="form-group">
        <label class="control-label" for="visa-entry-endDate" name="endDate"> Дата выезда: </label>
        <input id="visa-entry-endDate" name="endDate" type="text" value="<%= endDate %>" class="form-control"/>
      </div>

      <div class="pull-left">
        <a href="#visas/<%= visa_id %>" class="btn btn-default js-list-visas">Вернуться к информации о визе</a>
      </div>

      <div class="pull-right">
        <button class="btn btn-primary js-new-entry-submit">
          Добавить
        </button>
      </div>
    </form>
  </script>

  <script type="text/template" id="visa-entry-form-edit">
    <h1> Редактирование въезда в Шенгенскую зону </h1>
    <form role="form">
      <div class="form-group">
        <label class="control-label" for="visa-entry-name" name="name"> Название: </label>
        <input id="visa-entry-name" name="name" type="text" value="<%= name %>" class="form-control"/>
      </div>

      <div class="form-group">
        <label class="control-label" for="visa-entry-startDate" name="startDate"> Дата въезда: </label>
        <input id="visa-entry-startDate" name="startDate" type="text" value="<%= startDate %>" class="form-control"/>
      </div>

      <div class="form-group">
        <label class="control-label" for="visa-entry-endDate" name="endDate"> Дата выезда: </label>
        <input id="visa-entry-endDate" name="endDate" type="text" value="<%= endDate %>" class="form-control"/>
      </div>

      <div class="pull-left">
        <a href="#visas/<%= visa_id %>" class="btn btn-default js-list-visas">Вернуться к информации о визе</a>
      </div>

      <div class="pull-right">
        <button class="btn btn-primary js-edit-entry-submit">
          Сохранить даные
        </button>
      </div>
    </form>
  </script>

  <script type="text/template" id="visa-entry-view-main">
    <td>
      <%= name %>
    </td>
    <td>
      <%= startDate %>
    </td>
    <td>
      <%= endDate %>
    </td>
    <td>
      <%= daysTotal %>
    </td>
  </script>


  <script type="text/template" id="visa-entry-view">
    <td>
      <a href="#visa-entries/<%= id %>/edit" class="js-show">
        <%= name %>
      </a>
    </td>
    <td>
      <%= startDate %>
    </td>
    <td>
      <%= endDate %>
    </td>
    <td>
      <%= daysTotal %>
    </td>
    <td>
      <a href="#visa-entries/<%= id %>/edit" class="btn btn-xs js-show">
        <i class="glyphicon glyphicon-eye-open"></i>
      </a>
      <button class="btn btn-danger btn-xs js-delete">
        <i class="glyphicon glyphicon-remove"></i>
      </button>
    </td>
  </script>

  <script type="text/template" id="visa-view">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          Виза: <%= name %>
        </div>
      </div>
      <div class="panel-body">
        <p> <strong> Начало действия: </strong> <%= startDate %> </p>
        <p> <strong> Окончание действия: </strong> <%= endDate %> </p>
        <p> <strong> Количество дней: </strong> <%= daysTotal %> </p>
      </div>
    </div>


    <div class="panel panel-default hidden" id="visa-entries">
      <div class="panel-heading">
        <div class="panel-title">
          Ваши въезды в Шенгенскую зону
        </div>
      </div>
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Название</th>
            <th>Дата въезда</th>
            <th>Дата выезда</th>
            <th>Количество дней</th>
            <th></th>
          </tr>
        </thead>
      <tbody> </tbody>
      </table>
    </div>

    <div class="pull-left">
      <a href="#" class="btn btn-default js-list-visas">Назад к списку виз</a>
      <a href="#" class="btn btn-primary js-new-visa-entry">Добавить въезд </a>
    </div>

    <div class="pull-right">
      <a href="#visas/<%= id %>/edit" class="btn btn-primary js-edit">
        <span class="glyphicon glyphicon-pencil"></span>
        Редактировать
      </a>
    </div>
  </script>


  <script type="text/template" id="missing-visa-view">
    <div class="alert alert-error">
      Такой визы не существует
    </div>
    <a href="#visas" class="js-list-visas">Back to My Visas</a>
  </script>

  <script type="text/template" id="missing-visas-view">
    <div class="alert alert-error">
      Вы не добавили информацию о визах. Пожалуйста, создайте визу
    </div>
    <a href="#visas/new" class="btn btn-primary js-new-visa">Я хочу добавить визу</a>
  </script>

  <!--Edit Visa-->
  <script type="text/template" id="visa-form">
    <h1> Редактирование визы: <%= name %> </h1>
    <form role="form">
      <div class="form-group">
        <label class="control-label" for="visa-name" name="name"> Название: </label>
        <input id="visa-name" name="name" type="text" value="<%= name %>" class="form-control"/>
      </div>

      <div class="form-group">
        <label class="control-label" for="visa-startDate" name="startDate"> Начало действия: </label>
        <input id="visa-startDate" name="startDate" type="text" value="<%= startDate %>" class="form-control"/>
      </div>

      <div class="form-group">
        <label class="control-label" for="visa-endDate" name="endDate"> Окончание действия: </label>
        <input id="visa-endDate" name="endDate" type="text" value="<%= endDate %>" class="form-control"/>
      </div>

      <div class="form-group">
        <label class="control-label" for="visa-daysTotal" name="daysTotal"> Количество дней: </label>
        <input id="visa-daysTotal" name="daysTotal" type="text" value="<%= daysTotal %>" class="form-control"/>
      </div>

      <div class="pull-left">
        <a href="#visas/<%= id %>" class="btn btn-default js-show-visa">Назад к информаии о визе</a>
      </div>

      <div class="pull-right">
        <button class="btn btn-primary js-submit">
          Сохранить
        </button>
      </div>
    </form>
  </script>

  <script type="text/template" id="visa-form-new">
    <h1> Добавление визы </h1>
    <form role="form">
      <div class="form-group">
        <label class="control-label" for="visa-name" name="name"> Название: </label>
        <input id="visa-name" name="name" type="text" value="<%= name %>" class="form-control"/>
      </div>

      <div class="form-group">
        <label class="control-label" for="visa-startDate" name="startDate"> Начало действия: </label>
        <input id="visa-startDate" name="startDate" type="text" value="<%= startDate %>" class="form-control"/>
      </div>

      <div class="form-group">
        <label class="control-label" for="visa-endDate" name="endDate"> Окончание действия: </label>
        <input id="visa-endDate" name="endDate" type="text" value="<%= endDate %>" class="form-control"/>
      </div>

      <div class="form-group">
        <label class="control-label" for="visa-daysTotal" name="daysTotal"> Количество дней: </label>
        <input id="visa-daysTotal" name="daysTotal" type="text" value="<%= daysTotal %>" class="form-control"/>
      </div>

      <div class="pull-left">
        <a href="#visas" class="btn btn-default js-list-visas">Назад к списку виз</a>
      </div>

      <div class="pull-right">
        <button class="btn btn-primary js-submit">
          Добавить визу
        </button>
      </div>
    </form>

  </script>

  <!-- Main app -->
  <script src="./assets/js/app.js"></script>
  <script src="./assets/js/apps/config/storage/localstorage.js"></script>
  <script src="./assets/js/common/views.js"></script>

  <!-- Entities -->
  <script src="./assets/js/entities/visa.js"></script>
  <script src="./assets/js/entities/visa_entry.js"></script>
  <script src="./assets/js/entities/visa_info.js"></script>

  <!--Applications-->
  <!--Visas App-->
  <script src="./assets/js/apps/visas/visas_app.js"></script>
  <!--List-->
  <script src="./assets/js/apps/visas/list/list_controller.js"></script>
  <script src="./assets/js/apps/visas/list/list_view.js"></script>
  <!--Show-->
  <script src="./assets/js/apps/visas/show/show_controller.js"></script>
  <script src="./assets/js/apps/visas/show/show_view.js"></script>
  <!--Edit-->
  <script src="./assets/js/apps/visas/edit/edit_controller.js"></script>
  <script src="./assets/js/apps/visas/edit/edit_view.js"></script>
  <!--New -->
  <script src="./assets/js/apps/visas/new/new_controller.js"></script>
  <script src="./assets/js/apps/visas/new/new_view.js"></script>



  <script type="text/javascript">
    vc.start();
  </script>


</body>
</html>
